<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Eat Da Burger</h1>
  </div>
</div>
<div class="container bg-warning">

<div class="row bg-warning p-3">
<div class="col-12 text-center">
 <form id="burger-form">
 <input type="text" id="add-burger" required> <button type="submit" class="btn btn-outline-danger">Add Burger</button>
 </form>
</div>
</div>
</div>


<div class="bg-danger"></div>
<div class="bg-success"></div>

<div class="container">
<div class="row">

<div class="col-6 text-center" id="ready-to-eat">
<h1 class="text-white mb-4">Ready to Eat!</h1>

{{#each items}}
  {{#if devoured}}
    {{else}}
  <p>{{burger_name}} <button class="devour btn btn-outline-success" info="{{id}}"> Eat Me</button></p>
  {{/if}}
{{/each}}
</div>

<div class="col-6 text-center" id="devoured">
<h1 class="text-white mb-4">Devoured... </h1>

{{#each items}}
  {{#if devoured}}
  <p>{{burger_name}} - {{devoured}}</p>
  {{/if}}
{{/each}}
</div>
</div>
</div>

<footer></footer>
</div>
<style>
  .jumbotron{background-color: tan; height: 150px; margin: 0; margin-top: 30px; border-radius: 30px;}
  body{background-color: #FFE4B2; font-family: 'Pacifico', cursive;}
  .bg-success, .bg-danger{height: 30px;}
  #ready-to-eat, #devoured{background-color:saddlebrown;}
  footer{background-color: tan; height: 50px;border-radius: 30px;}
  div{margin:0;}
</style>

 <script>
   // Adds burger
   $("#burger-form").on("submit", function(e){
     e.preventDefault()
     var name = $("#add-burger").val()
     console.log(name)

     $.post("add/" + name, function(response){
       console.log(response)
       location.reload()
     })    
   })

  // Devour Burger
  $(".devour").on("click", function(){
    var id = $(this).attr("info")
    console.log(id)
    
    // Update POST update devoured to true

  })


  


 </script>